﻿@model MoneyTransfer.Models.User


@{
    ViewData["Title"] = "Personal_Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

<div>
    <h4>Ваш лицевой счет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalAccount)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <li><a asp-controller="Transactions" asp-action="AddBalance">Пополнить баланс</a></li>
    <li><a asp-controller="Transactions" asp-action="Transact" @*asp-route-name="@User.Identity.Name"*@>Перевести деньги на другой счет</a></li>
    <li><a asp-controller="Transactions" asp-action="Pay_for_services">Оплатить коммунальные услуги и перевод</a></li>
</div>