﻿@model MoneyTransfer.Models.User
@{
    ViewData["Title"] = "RegisterInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добро пожаловать!</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.PersonalAccount)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PersonalAccount)
    </dd>
</dl>

@Html.ActionLink("На главную", "Index", "Home"/*, new { id=item.Id }*/)
