﻿@model MoneyTransfer.ViewModels.AddBalanceViewModel
@{
    ViewData["Title"] = "AddBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddBalance</h2>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="PersonalAccount">Введите лицевой счет</label>
        <input asp-for="PersonalAccount" class="form-control" />
        <span asp-validation-for="PersonalAccount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sum">Внесите сумму</label>
        <input asp-for="Sum" class="form-control" />
        <span asp-validation-for="Sum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Пополнить</button>
</form>

<a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">Личный кабинет</a>
