﻿@{
    ViewData["Title"] = "AddBalanceSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вы пополнили баланс</h2>

<a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">Личный кабинет</a>
