﻿@model MoneyTransfer.Models.Transaction

@{
    ViewData["Title"] = "TransAct_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вы перевели деньги</h2>

<div>
    <h4>TransAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionSum)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.RecipientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">Личный кабинет</a>

</div>