﻿@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка</h2>
<h4>Такого лицевого счета не существует</h4>

<a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">Личный кабинет</a>
